# --- Framework principal ---
Flask==3.1.1

# --- Extensiones de Flask ---
Flask-SQLAlchemy==3.0.5
SQLAlchemy==2.0.20
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-WTF==1.2.2

# --- Validaciones y formularios ---
WTForms==3.2.1
email_validator==2.2.0

# --- Drivers de base de datos ---
PyMySQL==1.1.1

# --- Dependencias de Flask ---
Werkzeug==3.1.3
Jinja2==3.1.6
MarkupSafe==3.0.2
itsdangerous==2.2.0
click==8.2.1
blinker==1.9.0
colorama==0.4.6
idna==3.10
dnspython==2.7.0
