<!-- templates/partials/nav.html -->
<div class="container mx-auto px-4 py-3 flex justify-between items-center">
    <div class="flex items-center">
        <div class="hamburger md:hidden" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <a href="javascript:void(0)"><img width="150"h src="{{ url_for('static', filename='img/Jujutsu_Kaisen_logo.png') }}" alt="Logo Jujutsu Kaisen" class="h-10 ml-4"></a>
    </div>

    <!-- Navegación desktop -->
    <div class="hidden md:flex items-center space-x-8">
        <a href="{{ url_for('main.home') }}#hero-banner" class="hover:text-purple-400 transition">Inicio</a>
        <a href="{{ url_for('main.home') }}#character-section" class="hover:text-purple-400 transition">Personajes</a>
        <a href="{{ url_for('main.home') }}#videos-section" class="hover:text-purple-400 transition">Videos</a>
        <a href="https://readjjk-manga.com" target="_blank" class="hover:text-purple-400 transition">Manga</a>
        <a href="{{ url_for('comunidad.index') }}" class="hover:text-purple-400 transition">Comunidad</a>


<button id="authBtn"
    class="bg-purple-600 hover:bg-purple-700 text-white font-semibold px-4 py-2 rounded transition">
    Iniciar Sesión / Registrarse
</button>
<div id="authDropdown" class="hidden absolute right-4 mt-2 w-48 bg-white rounded-md shadow-lg z-50"></div>
    </div>


</div>

<!-- Menú móvil -->
<div class="mobile-menu md:hidden" id="mobile-menu">
    <div class="px-6 py-4">
        <a href="javascript:void(0)" class="block py-3 border-b border-gray-700 hover:text-purple-400 transition mobile-nav-item">Inicio</a>
        <a href="javascript:void(0)" class="block py-3 border-b border-gray-700 hover:text-purple-400 transition mobile-nav-item" data-target="characters">Personajes</a>
        <a href="javascript:void(0)" class="block py-3 border-b border-gray-700 hover:text-purple-400 transition mobile-nav-item" data-target="videos">Videos</a>
        <a href="https://readjjk-manga.com" target="_blank" class="block py-3 border-b border-gray-700 hover:text-purple-400 transition">Manga</a>
    </div>
</div>
